.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: stretch;
  align-items: stretch;
  width: 100%;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: stretch;
  align-items: stretch;
  width: inherit;
  height: inherit;
}

.menu {
  display: grid;
  grid-template-columns: 1fr auto auto auto;
  gap: 0px 25px;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: start;
  background-color: #1b264f;
  padding: 5px;
}