.container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: stretch;
  align-items: stretch;
  /* min-width: 120px; */
  width: 200px;
  background-color: #2a2e45;
  opacity: 1;
  overflow: auto;
  list-style-type: none;
  transition-property: width, opacity;
  transition-duration: 1s;
}

.extended {
  width: 0px;
  opacity: 0;
  /* visibility: hidden; */
}

.container>li {
  background-color: #5d707f;
  margin: 10px;
}

.container>li>a {
  display: block;
  width: inherit;
  height: inherit;
  text-align: center;
  padding: 10px;
}

.container>li>a:hover {
  background-color: var(--theme-component-hover);
  transition-property: background-color;
  transition-duration: 0.5s;
}

.container>li>a:active {
  background-color: var(--theme-component-active);
}