.container {
  height: 100%;
  background-color: #555;
}

.container>form {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: stretch;
  align-items: stretch;
  padding: 10px;
}