.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: stretch;
  align-items: stretch;
  width: inherit;
  height: inherit;
}

.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: space-between;
  align-items: stretch;
  background-color: #1b264f;
  padding: 10px 10px;
}

.menu>div:first-child {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.menu>div:first-child>div {
  margin-right: 20px;
}

.menu>div:last-child {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.menu>div:last-child>div {
  margin-left: 10px;
}