.container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0px 0px;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  height: 100%;
  background-color: #2a2e45;
}

.container>div:nth-of-type(1) {
  margin-left: 10px;
}

.container>div:nth-of-type(2) {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1rem;
  word-spacing: 0rem;
  transition: letter-spacing 2s;
}

.container>div:nth-of-type(2):hover {
  letter-spacing: 2rem;
}

.container>div:nth-of-type(3) {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 0rem;
  word-spacing: 0rem;
  margin-right: 10px;
}

.container>div:nth-of-type(3)> :nth-child(1) {
  margin: 10px;
  transition: transform 1s;
}

.container>div:nth-of-type(3)> :nth-child(1):hover {
  transform: translate(-20px, 0px);
}

.container>div:nth-of-type(3)> :nth-child(1):hover:after {
  content: "@google.com";
}

.icon {
  /* font-size: calc(var(--page-font-size) * 2); */
  font-size: calc(3rem);
  vertical-align: middle;
  margin: 10px;
}

@media only screen and (max-width: 720px) {
  .container>div:nth-of-type(2) {
    letter-spacing: 0.25rem;
  }

  .icon {
    font-size: calc(2rem);
    vertical-align: middle;
    margin: 5px;
  }
}