@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");

:root {
  /* --page-default-width: auto; */
  --page-default-width: 1280px;
  --page-width: var(--page-default-width);
  --page-font-min-size: 4px;
  --page-font-max-size: 16px;
  --page-font-size: var(--page-font-max-size);
  --theme-component-color: #8093f1;
  --theme-component-hover: #ff6f59;
  --theme-component-active: #d90368;
  --theme-component-selected: #d90368;
  --theme-component-disabled: #aaa;
  --theme-component-text-disabled: #aaa;
  --theme-accent-text-disabled: white;
}

* {
  box-sizing: border-box;
  font-family: 'Rajdhani', sans-serif;
  color: white;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #fff;
}

a {
  text-decoration: none;
  color: white;
}

/**
 * Applied when less than default width
 */
@media (max-width: 1280px) {
  :root {
    --page-width: 100%;
    --page-font-size: clamp(var(--page-font-min-size), 2vw, var(--page-font-max-size));
  }
}

/**
 * Applied when more than default width
 */
@media (min-width: 1280px) {
  :root {
    --page-width: var(--page-default-width);
  }
}