.container {
  height: 100%;
  background-color: #312f2f;
  color: white;
}

.contents {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  height: 60%;
  top: 25%;
}

.message {
  box-shadow: 0px 0px 20px 20px #f4d35e;
  background-color: #f4d35e;
  color: white;
  font-size: 3rem;
}

.button {
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 4px;
  color: white;
  text-decoration: none;
  padding: 10px;
}

.button:hover {
  border: 1px solid var(--theme-component-hover);
  color: var(--theme-component-hover);
  transition-property: border color;
  transition-duration: 0.5s;
}

.button:active {
  border: 1px solid var(--theme-component-active);
  color: var(--theme-component-active);
  transition-property: border color;
  transition-duration: 0.5s;
}

@media only screen and (max-height: 480px) {
  .contents {
    height: 100%;
    top: 0%;
  }

  .message {
    font-size: 2rem;
  }
}